@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html, body{
    margin: 0;
    padding: 0;
    height: 100%;
}
#pagina{
    min-height: 100%;
    position: relative;
}
form{
    width: 80%;
    margin: 0 auto;
    padding-bottom: 145px;
}
h1{
    text-align: center;
    font-weight: 600;
    font-size: 38px;
    padding: 0;
    line-height: 105%;
    padding: 17px;
}
span{
    color: aliceblue;
    background-color: rgba(64, 64, 64, 1);
    padding: 2px 7px;
    font-weight: 400;
    font-size: 30px;
    margin: 0;
}
#workArea{
    display: flex;
    border: 1px solid rgb(161, 161, 161);
    width: 100%;
    flex-direction: column;
}
textarea{
    height: 250px;
    width: 100%;
    background-color:rgb(227, 227, 227);
    border: 0;
    padding: 40px;
    resize: none;
    font-size: 18px;
}
#background{
    position: absolute;
    top: -30px;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 20%;
    z-index: -1;
    object-fit: cover;
}
#result{
    width: 100%;
    height: 180px;
    background-color: rgba(64, 64, 64, 1);
    text-align: center;
    color: white;
    overflow: auto;
}
::placeholder{
    position: absolute;
    top: 0;
    opacity: 60%;
    padding-top: 40px;
}
#buttons{
    background-color: rgba(191, 186, 186, 1);
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid rgb(161, 161, 161);
    border-top: 0;
}
button{
    padding: 5px;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    border: 1.5px solid rgb(175, 175, 175);
    font-weight: bolder;
    max-width: 130px;
}
footer{
    background-color:rgb(227, 227, 227);
    border-radius: 5px;
    margin-top: 70px;
    margin-left: 0;
    margin-right: 0;
    height: 100px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
#searching{
    float: left;
    width: 40%;
    margin-top: 25px;
    margin-left: 12px;

}
#p1{
    font-weight: 600;
    text-align: center;
    display: inline-block;
    width: 50%;
    padding-top: 15px;
}
#p2{
    text-align: center;
    display: inline-block;
    padding-top: 0;
    margin: 0;
}
footer p{
    text-align: center;
    color: rgba(0, 0, 0, 0.4);
    font-size: 11px;
    font-weight: bold;
}
#encriptar{
    color: white;
    background-color: rgba(64, 64, 64, 1);
}
#desencriptar{
    background-color:rgb(227, 227, 227);
}
#solution{
    padding: 25px;
    word-wrap: break-word;
}
#copy{
    background-color: greenyellow;
    margin-bottom: 45px;
    max-width: 160px;
}
#redes{
    width: 170px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
#redes img{
    width: 30px;
    padding: 0 1.5px;
    opacity: 40%;
}

@media(min-width: 600px) {
    *{
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
    }
    html, body{
        margin: 0;
        padding: 0;
        height: 90%;
    }
    #pagina{
        min-height: 100%;
        position: static;
    }
    form{
        width: 80%;
        max-width: 700px;
        margin: 0 auto;
        padding-bottom: 0;
    }
    h1{
        text-align: center;
        font-weight: 600;
        margin: 65px 0;
        padding: 0;
        font-size: 35px;
    }
    span{
        color: aliceblue;
        background-color: rgba(64, 64, 64, 1);
        padding: 2px 7px;
        font-weight: 400;
        font-size: 35px;
    }
    #workArea{
        display: flex;
        border: 1px solid rgb(161, 161, 161);
        flex-direction: row;
    }
    textarea{
        height: 400px;
        width: 70%;
        background-color:rgb(227, 227, 227);
        border: 0;
        padding: 40px;
        resize: none;
        font-size: 18px;
    }
    #background{
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        opacity: 20%;
        z-index: -1;
        object-fit: cover;
    }
    #result{
        height: 400px;
        width: 50%;
        background-color: rgba(64, 64, 64, 1);
        text-align: center;
        color: white;
    }
    ::placeholder{
        position: absolute;
        top: 0;
        opacity: 60%;
        padding-top: 40px;
    }
    #buttons{
        background-color: rgba(191, 186, 186, 1);
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        border: 1px solid rgb(161, 161, 161);
        border-top: 0;
    }
    button{
        padding: 5px;
        width: 200px;
        height: 35px;
        border-radius: 10px;
        border: 1.5px solid rgb(175, 175, 175);
        font-weight: bolder;
        max-width: none;
    }
    footer{
        background-color:rgb(227, 227, 227);
        border-radius: 5px;
        margin-top: 70px;
        margin-left: 0;
        margin-right: 0;
        height: 100px;
        position: absolute;
        bottom: 0;
        width: 100%;
    }
    #searching{
        display: block;
        width: 170px;
        margin: 30px auto;
        float: none;
        padding: 0;
    }
    #p1{
        width: 170px;
        font-weight: 600;
        padding: 10px 0;
        margin: 0 auto;
    }
    #p2{
        text-align: center;
        display: block;
        padding-top: 0;
        margin: 0;
    }
    footer p{
        text-align: center;
        color: rgba(0, 0, 0, 0.4);
        font-size: 11px;
        font-weight: bold;
    }
    #encriptar{
        color: white;
        background-color: rgba(64, 64, 64, 1);
    }
    #desencriptar{
        background-color:rgb(227, 227, 227);
    }
    #solution{
        padding: 20px;
    }
    #copy{
        background-color: greenyellow;
    }
    #redes{
        width: 170px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }
    #redes img{
        width: 30px;
        padding: 0 1.5px;
        opacity: 40%;
    }
}